<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="ApiKey" value="tSDYH09h6lNECNTJeA9qisdYi8tlPGvgHlE3sKHkUg5QOcl8pprTZClTsLyOHsZZHlq4nuIDXt3ufSYiAYsa0VKTP91t8y0tt48c6ubCNBCKkF6f2Pw9hqLiEoB3FNsa" />
	</appSettings>
</configuration>